.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  height: calc(100vh - 100px);
}
.content {
  position: relative;
  bottom: 40px;
}
.content .subTitle {
  font-size: 30px;
  line-height: 42px;
  color: #000;
}
.content .title {
  font-size: 40px;
  line-height: 62px;
  color: #ed6c00;
}
.content .desc {
  text-align: center;
  font-size: 14px;
  color: gray;
}
.img {
  background: url('/public/img/welcome-bg.png') no-repeat;
  background-size: contain;
  width: 370px;
  height: 320px;
  margin-left: 100px;
}
